[Unit]
Description=auth0 LDAP connector agent
After=network.target

[Service]
ExecStart=/bin/node server.js
WorkingDirectory=/opt/ad-ldap-connector
Restart=always
# Default StartLimitBurst is 5 and StartLimitIntervalSec is 10s,thus we should never
# Get rate limited for restarr when we wait 5s (2 starts within 10s)
RestartSec=5
User=ad-ldap-connector
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ad-ldap-connector
#Recent systemd only
#PassEnvironment=http_proxy
#Older systemd ;-)
EnvironmentFile=/opt/ad-ldap-connector/environ

[Install]
WantedBy=multi-user.target
