[Unit]
Description=auth0 LDAP connector agent
After=network.target

[Service]
ExecStart=/bin/node server.js
WorkingDirectory=/opt/ad-ldap-connector
Restart=always
User=ad-ldap-connector
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ad-ldap-connector
#Recent systemd only
#PassEnvironment=http_proxy
#Older systemd ;-)
EnvironmentFile=/opt/ad-ldap-connector/environ

[Install]
WantedBy=multi-user.target
